# Node
node_modules/
npm-debug.log
yarn-error.log

# Entornos virtuales / Variables de Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Ocultar Firebase Cache
.firebase/
firebase-debug.log
